<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {include file='common/header.tpl'}
</head>
<body>
{include file='common/title.tpl'}
<div class="container">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>No.</th>
            <th>問題リスト</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="?action_answer=true&id=1">俺の趣味といえば？</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="?action_answer=true&id=2">俺の話を聞け？</a></td>
          </tr>
        </tbody>
      </table>
</div>
</body>
</html>
