<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {include file='common/header.tpl'}
</head>
<body>
{include file='common/title.tpl'}
    <div class="container">
      <h2>問題文問題文問題文問題文問題文問題文問題文問題文問題文なのは？</h2>
    </div>
</body>
</html>
